{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>{{ 'common.jumbotron_text_five'|trans }}</h2>
            <p>{{ 'common.jumbotron_text_six'|trans }}<br>
                {% if not is_granted(expression('is_authenticated()')) %}
                    {{ 'common.jumbotron_text_two'|trans }}
                {% endif %}
            </p>
            <p>
                {% if not is_granted(expression('is_authenticated()')) %}
                    <a class="btn btn-primary btn-lg" href="{{ path('registration') }}"
                       role="button">{{ 'common.sign_up'|trans }}
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="col-xs-8 col-sm-8">
        {{ form(form) }}
    </div>
{% endblock %}
