{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'common.jumbotron_text_three'|trans }}</h1>
            <p>{{ 'common.jumbotron_text_four'|trans }}<br>
                {{ 'common.jumbotron_text_two'|trans }}
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">{{ 'common.register'|trans }} <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a></p>
        </div>
    </div>

    <div class="col-xs-8 col-sm-8">
        {% include 'flash.html.twig' %}

        {{ form(form) }}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'common.task'|trans }}</th>
                    <th>{{ 'common.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for todo_list in tasks %}
                <tr>
                    <td>{{ todo_list.id }}</td>
                    <td>{{ todo_list.task }}</td>
                    <td>
                        <a class="btn btn-xs btn-success" href="{{ path('task.edit', {'id': todo_list.id}) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'common.edit'|trans }}
                        </a>
                        <a class="btn btn-xs btn-danger" href="{{ path('task.delete', {'id': todo_list.id}) }}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'common.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center text-muted">{{ 'tasks.empty_list'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
