{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <script src="https://use.fontawesome.com/1fd1821b57.js"></script>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'common.project_name'|trans }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">{{ 'common.sign_in'|trans }}</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}

        <hr>

        <footer>
            <p class="text-center"><i class="fa fa-copyright" aria-hidden="true"></i> {{ "now"|date('Y') }} {{ 'common.project_name'|trans }} <br>
                {{ 'common.created_designed'|trans }} <a href="http://sameddin.pro/" target="_blank">{{ 'awesome.programmer'|trans }}</a></p>
        </footer>
    </div>
{% endblock %}
