{% block stylesheets %}
    {% stylesheets '@css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <script src="https://use.fontawesome.com/1fd1821b57.js"></script>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <body class="sign-in">
    <div class="container">
        <div class="row">
            <div class="form-signin center-block">
                <a href="{{ path('homepage') }}">
                    <img class="profile-img" src="{{ asset('favicon/favicon-96x96.png') }}">
                </a>
                <h2 class="form-signin-heading text-center">{{ 'common.sign_in_new_todo'|trans }}</h2>
            </div>
        </div>
        <form class="form-signin span3 well" action="{{ path('login') }}" method="post">

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                    </button>
                    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                </div>
            {% endif %}

            <label for="email" class="sr-only">{{ 'common.email'|trans }}</label>
            <input type="email" id="email" name="email" value="{{ last_username }}" class="form-control" placeholder="{{ 'common.email'|trans }}" required autofocus/>

            <label for="password" class="sr-only">{{ 'common.password'|trans }}</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="{{ 'common.password'|trans }}" required/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'common.sign_in'|trans }}</button>
        </form>
    </div>
    <div>
        <p class="form-signin well text-center">
            {{ 'common.not_registered_yet'|trans }}
            <a href="{{ path('registration') }}">{{ 'common.create_account'|trans }}</a>.
        </p>
    </div>
    </body>
{% endblock %}
