{% block stylesheets %}
    {% stylesheets '@css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    <script src="https://use.fontawesome.com/1fd1821b57.js"></script>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <body class="sign-up">
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <a href="{{ path('homepage') }}">
                        <img class="profile-img" src="{{ asset('favicon/favicon-96x96.png') }}">
                    </a>
                    <h2 class="form-signin-heading text-center">{{ 'common.sign_up_in_seconds'|trans }}</h2>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="form-signup span3 well">
                <div class="form-group has-error help-block">
                    {{ form_errors(form.nickName) }}
                    {{ form_errors(form.email) }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {{ form_widget(form.nickName) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.second) }}
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'common.sign_up'|trans }}</button>
            </div>
            {{ form_end(form) }}
            <div>
                <p class="form-signin well text-center">
                    {{ 'common.already_have_an_account'|trans }}
                    <a href="{{ path('login') }}">{{ 'common.sign_in'|trans }}</a>.
                </p>
            </div>
        </div>
    </body>
{% endblock %}
